DATABASE_USER=postgres
DATABASE_PASSWORD=secret
DATABASE_NAME=anonymization
APP_SECRET=24e17c47430bd2044a61c131c1cf6991
###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$
###< nelmio/cors-bundle ###
